body {background-color: #ffffff;
font-family: Arial, Helvetica, sans-serif;}
html, body {
    min-height: 100%;
}


.sombra1  {
    height: 100vh;
    width: 73.1%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    
  }

  #sombra1 {
    margin-top: -10px;
    margin-bottom: -20px;
    width: 100%;
}

.imagens{
    overflow: hidden;
    width: 187%;
    position: absolute;
    height: 100vh;
    margin-top: -10px;
    margin-bottom: -10px;
   
    
}
@keyframes masihscroll {
    0% {transform: translateY(0%);}
    50% {transform: translateY(calc(-100% + 100vh));}
    100% {transform: translateY(-0%);}
}
.imagens img {
    height: auto;
    max-width: 100%;
    transition: all 3s;
    animation-duration: 200s;
    animation-name: masihscroll;
    animation-iteration-count: infinite;
}

#content {
    margin-bottom: -9px;
    padding-bottom: -9px;
}

.sombra2  {
    height: 100vh;
    width: 7%;
    position: fixed;
    top: 0;
    left: 73.1%;
    bottom: 0;
    right: 0;
    overflow: hidden;
    
  }

  #sombra2 {
    margin-top: -10px;
    margin-bottom: -20px;
    width: 100%;

    
}



.right{overflow-y: scroll;


}

.texto{
    height: 100vh;
    width: 23%;
    position: fixed;
    top: 0;
    left: 75%;
    bottom: 0;
    right: 0;
    overflow-y: scroll;

}

.bold {font-weight: bold;}
.boldgrey {font-weight: bold;}

.thin { font-weight: lighter;
    font-size: smaller;}

.italic{font-style: italic;}

#PC {padding-top: 100%;}
#OT {padding-top: 120px;}
#F {padding-top: 100px;}
#artist{ font-size: x-small;}
#PP {padding-top: 120px;}
#SU {padding-top: 250px;}
#ME {padding-top: 120px;}


